__pycache__/

dump/

# Weights & Biases
wandb/
*/wandb/
wandb/*
*/wandb/*

# Journey / logging folders (if you have any)
journey/
*/journey/
journey/*
*/journey/*

# Ignore all pretrained / saved models
readymodel/
readymodel/**

first run wandb/