__pycache__/

dump/

# Weights & Biases
wandb/
*/wandb/
wandb/*
*/wandb/*

# Journey / logging folders (if you have any)
journey/
*/journey/
journey/*
*/journey/*

# Ignore all pretrained / saved models
readymodel(old)/
readymodel(old)/**

readymodels/
readymodels/**

train 1/
train_2.0/
*/train_2.0/
train_2.0/*
*/train_2.0/*

working model 5k episodes WANDB_RUN_ID = train 1/